<!DOCTYPE html>
<ng-container *ngIf="itemData">
    <a class="item" [title]="itemData.title" [routerLink]="['/movie', itemData.id]">
        <div class="item-rating">
            <i class="mate-icon">star</i>
            <span>{{ itemData.vote_average }}</span
            >/10
        </div>
        <div class="item-image">
            <img [src]="imagesSizes.medium + itemData.poster_path" [alt]="itemData.title" />
        </div>
        <div class="item-title">{{ itemData.title }}</div>
    </a>
</ng-container>
