<!DOCTYPE html>
<header>
    <nav class="navbar">
        <a href="" class="navbar-logo">
            <img src="../../../assets/logo.png" alt="Logo" />
        </a>
        <ul class="navbar-links">
            <li><a [routerLink]="['/home']" [routerLinkActive]="'active'">Home</a></li>
            <li><a [routerLink]="['/movies']" [routerLinkActive]="'active'">Movies</a></li>
            <li><a [routerLink]="['/tvshows']" [routerLinkActive]="'active'">TV Shows</a></li>
            <li><a [routerLink]="['/genres']" [routerLinkActive]="'active'">Genre</a></li>
        </ul>
    </nav>
</header>
